
.timePosition{
    display:flex;
    flex-direction: row;
    align-items: center;
 
 }
 
 .time{
    font-family: "Alice", serif;
    margin:10px;
    background-color: #97BE5A;
    padding:10px;
    width:32px;
    color:white;
    font-size: 16px;
    align-self: center;
    border-radius: 10px;
 }
 
 
 .salePosition{
    background-color: #97BE5A;
    width:42%;
    border-radius: 20px;
    color:white;
    font-family: "Alice", serif;
    text-align: center;
    margin-top: 5px;
    }
 
 
     .saleContainer{
       display:flex;
       flex-direction: row;
       background-color: #F2F1EB;
       width:25%;
       height:18vh;
       border-radius: 20px;
       margin-left: 10px;
     }
 
 .twenty{
    font-size: 40px;
 }
 
 .expire{
    font-family: "Alice", serif;
    color:#B2A59B;
    font-size:16px;
  
 }

 .expirePosition{
    display:flex;
    justify-content: center;
   
 }

 .timer{
    opacity: 0;
margin-top: 10px;
display:flex;
justify-content: center;
 }

 @media all and (max-width:500px){
  
    .time{
        font-family: "Alice", serif;
        margin-left:10px;
        width:32px;
        color:white;
        font-size: 15px;
        
     }
     
    
    
     .salePosition{
        background-color: #97BE5A;
        width:42%;
        border-radius: 20px;
        color:white;
        font-family: "Alice", serif;
        text-align: center;
        margin-top: 5px;
        }
     
     
         .saleContainer{
           display:flex;
           flex-direction: row;
           background-color: #F2F1EB;
           width:290px;
           height:15vh;
           border-radius: 20px;
           margin-left: 10px;
         }
     
     .twenty{
        font-size: 40px;
     }
     

 }