.name-top{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Oasis{
  font-size:40px;
  font-family: "Philosopher", sans-serif;
  font-weight: 300;
  margin-top: 5%;
  color: #BFACE2;

}

.welcomePosition{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  opacity: 0;
}

.Welcome{
  font-size: 25px;
  font-family: "Philosopher", sans-serif;
  font-weight: 300;
  margin-right: 17%;
  margin-left: 17%;
  margin-top: 2%;
  line-height: 29px;
  color:#A9A9A9;
}

.WelcomeTwo{
  font-size:50px;
  font-family: "Philosopher", sans-serif;
  font-weight: 300;
  margin-right: 17%;
  margin-left: 17%;
  margin-top: 2%;
  line-height: 29px;
  color:#A9A9A9;
}

.WelcomeIcon{
  width:70px;
}

.text-position{
  font-family: "Philosopher", sans-serif;
  font-size:18px;
 display:flex;
 align-items: center;
 margin-right: 12%;
 margin-left: 12%;
 margin-top: 2%;
 line-height: 29px;
 color:#A9A9A9;
}





.home-page-image{
    width: 400px;
    border-radius: 80px;
    filter:drop-shadow(0 0 20px);
    transition: all 0.8s ease; 
}

.home-page-image:hover {
    transform: translateY(10px);
    box-shadow: 0 0 60px #817d7d;
    background-color: #ffffff;
  }

.sevice-position{
    flex-wrap: wrap;
    display:flex;
flex-direction: row;
justify-content: space-around;
margin-left: 10%;
margin-right: 10%;
}

.service-card{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:13px;
    margin-top: 5%;
}


.title {
    margin-top: 20px;
    color: #BFACE2;
    font-size:22px;
    font-weight: 600;
    font-family: "Philosopher", sans-serif;
  }

  .action {
    font-family: "Roboto", sans-serif;
    margin-top: 10px;
    color: #ffffff;
    font-size:22px;
    background-color: #bb9cc08f;
    padding: 4px;
    border-radius: 10px;
    border:none;
    width:180px;
     }

  .callToAction{
    font-family: "Roboto", sans-serif;
    margin-top: 10px;
    color: #ffffff;
    background-color: #C6EBC5;
    padding: 4px;
    border-radius: 10px;
    border:none;
    width:180px;
    font-size:19px;
  }

  .description{
    color:#A9A9A9;
    max-width:400px;
    height:14vh;
    align-items: center;
    font-family: "Philosopher", sans-serif;

  }

  .horizontal-line {
    margin-top: 3%;
    width: 100vw;
    height: 3px;
    background-color: #E8E2E2;
  }
  
.gift{
    flex-wrap: wrap;
    display:flex;
flex-direction: row;
justify-content: center;
}

.gift-container{
  background-color: #a9a9a963;
}

.giftCard{
  display:flex;
  flex-direction: column;
  align-items: center;
  margin:5%;
}
 .lavanda{
  margin-top: 15%;
    width:320px;
    border-radius: 150px;
    border:23px solid rgba(163, 162, 162, 0.24);
     }
  
     .lavanda:hover{
        width:330px;
        border-radius: 210px;
        border:22px solid rgba(204, 200, 200, 0.123);
         }

.button-gift{
  font-family: "Roboto", sans-serif;
  margin-top: 10px;
  color: #ffffff;
  font-size:19px;
  background-color: #bb9cc08f;
  padding: 4px;
  border-radius: 10px;
  border:none;
  width:130px;
}


@media all and (max-width: 500px) {


.sevice-position{
  flex-direction: column;
}

.home-page-image{
  width:250px;
  border-radius: 30px;
 }

 .text-position{
  font-family: "Philosopher", sans-serif;
  font-size:14px;
 display:flex;
 align-items: center;
 line-height: 19px;

}

.Welcome{
  margin-right: 5%;
  margin-left: 5%;
  font-size:17px;
}

.WelcomeTwo{
  font-size:25px;
}

.lavanda{
    width:250px;
      }
      .Oasis{
        font-size:23px;
        font-weight: 800;
           }

           .WelcomeIcon{
            width:40px;
          }

}