.card{
    margin: 5%;
    width: 300px;
    border-radius: 0.5rem;
    background-color:transparent;
    transition: all 0.8s ease; 
    padding:20px;
    text-align: center;
      }

      .card:hover {
        transform: translateY(10px);
        box-shadow: 0 0 60px #908787;
        background-color: #ffffff;
      }
  


  
  .image {
    
    background-size: cover;
    width: 100%;
    height: 250px;
    border-radius: 50%;
    border: 12px solid #DDDDDD;
  }
    
  .title {
    font-family: "Philosopher", sans-serif;
    color: #BB9CC0;
    font-size: 22px;
    line-height: 21px;
    font-weight: 600;
  }
  
 
  
  .action {
    color:#908787;
    font-size:17px;
    font-weight: 400;
    background-color: transparent;
    padding: 4px;
    border-radius: 10px;
    border:none;
  }
  
  .action span {
    transition: .3s ease;
  }
  
  .action:hover span {
    transform: translateX(4px);
  }
  

  .cardPosition{
    display:flex;
    flex-direction:row;
    justify-content: center;
    flex-wrap: wrap;
  }

.price-back{
  font-size: 16px;
  color:white;
  font-family: "Philosopher", sans-serif;
  background-color:#da9ee18b;
  height:5vh;
  border-radius: 10px;
  text-align: center;
  padding:5px;
}

.price-back:hover{
  background-color:#be89c6d0;
}

.price-two{
  color:white;
  font-family: "Philosopher", sans-serif;
  background-color:#3491267a;
  height:5vh;
  border-radius: 10px;
  text-align: center;
  padding:5px;
}

.price-two:hover{
  background-color:#349126c6;
}