.footer{
    background-color: #8f7aaa4a;
}

.footer-row{
    display:flex;
    flex-direction: row;
    justify-content: space-around;

 }

.relax-massage{
    list-style: none;
    color:rgb(255, 255, 255);
    margin-top: 50px;
    font-family: "Philosopher", sans-serif;
    font-size: 18px;
    display:flex;
    flex-direction: column;
    align-items: center;
    }
.service{
       color:#222831;
       font-family: "Playfair Display", serif;
       font-size: 21px;
       font-weight: 600;
}

.copyright{
    display:flex;
    justify-content: center;
}